body {
  padding-top: 50px;
}
.imgbanner {
  padding: 0px;
  text-align: center;
  background-color: black;
}
.txt {
	padding: 20px;
	text-align: center;
	font-size: 48pt;
}
.comesoon {
	padding: 10px;
	text-align: center;
	font-size: 32pt;
}